body{
	background:linear-gradient(to right,red,yellow);
	text-align: center;

}
h1{
	color:rgba(0,0,0,0,5);
	text-transform: uppercase;
	letter-spacing:.5em;
}
h2{
	text-transform: uppercase;
	letter-spacing: .5em;
}
h4{
   padding-top: initial;
   text-orientation: upright;
   letter-spacing: .1em;
   border: 5cm;
   margin: 5px;
}